@model IEnumerable<CRUD_Oparation_PC.Models.Employee>
@{
    ViewData["Title"] = "Employee List";
}
<h3 style="text-align:center">Employee List</h3>

<p>
    <a style=" color:black;font-weight:700;text-decoration:none;" class="btn-primary text-dark btn-outline-primary btn-sm" asp-action="Create">
        <i class="btn-outline-dark bi bi-pencil-square"></i>Add New
    </a>
</p>
<table id="MyTable" class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model=>model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Address)
            </th>
           
            <th>
                @Html.DisplayNameFor(model=>model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Ssc)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Hsc)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Bsc)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Msc)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model){
            <tr>
                <td>
                    <img class="img-thumbnail" width="80" src="~/images/@Html.DisplayFor(modelItem=>item.Picture)" alt="Image"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Country.CountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.State.StateName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.City.CityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Ssc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Hsc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Bsc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Msc)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-success"asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id">Details</a> 
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
                </td>
                
            </tr>
            

            
        }
        
    </tbody>
</table>
    